#main{
  position:absolute;
  height=95%;
  top:10px;
  left:400px;
}
body{
  background-color:#faebd7;
}
img.ins{
  height:20%;
}
#point{
  position:absolute;
  top:20px;
  left:780px;
}
#time{
  position:absolute;
  top:60px;
  left:750px;
}
