#main{
  position:absolute;
  top:10px;
  left:350px;
}
body{
  background-color:#faebd7;
}
#point{
  position:absolute;
  top:30px;
  left:750px;
  color:white;
}
#time{
  position:absolute;
  top:155px;
  left:780px;
  color:white;
}
#box{
  position:absolute;
  top:138px;
  left:715px;
}
#insw1{
  position:absolute;
  top:120px;
  left:5px;
}
#insw2{
  position:absolute;
  top:120px;
  left:140px;
}
#insw3{
  position:absolute;
  top:270px;
  left:5px;
}
#insw4{
  position:absolute;
  top:270px;
  left:170px;
}
#insw5{
  position:absolute;
  top:390px;
  left:5px;
}
img.p1{
  position:absolute;
  top:305px;
  left:352px;
}
img.p2{
  position:absolute;
  top:305px;
  left:510px;
}
img.p3{
  position:absolute;
  top:305px;
  left:668px;
}
img.p4{
  position:absolute;
  top:518px;
  left:352px;
}
img.p5{
  position:absolute;
  top:518px;
  left:510px;
}
img.p6{
  position:absolute;
  top:518px;
  left:668px;
}
